a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1, h2, h3, h4, h5, a, li, mat-checkbox, p, th, tr, td, .mat-step-text-label {
  font-family: "Work Sans", sans-serif !important;
}

.mat-step-text-label {
  font-weight: bold !important;
}

.mat-typography h3 {
  margin: 0 !important;
}

.mat-typography h4 {
  margin: 0 !important;
}

mat-form-field {
  font-family: "Work Sans", sans-serif !important;
}

button {
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.default-btn {
  width: 200px;
  background-color: #212121;
  padding: 0.4em 0 !important;
  font-weight: bold;
  color: #ffffff;
  font-size: 18px;
}

.white-btn {
  box-shadow: 0 2px 5px 0 rgba(164, 173, 186, 0.25);
  width: 20%;
  background-color: #ffffff;
  color: #212121;
  padding: 0.3em 0 !important;
  font-weight: bold;
  font-size: 18px;
}

.component-content {
  padding: 4em 2em;
  background-color: #fff;
  min-height: 90%;
}

::-webkit-scrollbar {
  height: 10px;
  width: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #deb767;
}

.inline {
  display: inline-flex;
}

.mobile {
  display: none;
}

.border-btn, .black-border-btn {
  padding: 0.4em 0;
  width: 30%;
  background-color: transparent;
  border: 1px solid #deb767;
  color: #deb767;
  font-size: 18px;
}

.border-dark-btn {
  padding: 0.4em 0;
  width: 30%;
  background-color: transparent;
  border: 1px solid #212121;
  color: #212121;
  font-size: 18px;
}

.custom-snackbar {
  font-family: "Work Sans", sans-serif !important;
}
.custom-snackbar button {
  color: #deb767 !important;
}

.mat-button.mat-button-disabled.mat-button-disabled {
  color: #666 !important;
}

.dialog {
  padding: 24px;
  height: 100%;
}

.mat-dialog-container {
  padding: 0 !important;
}

.mat-header-row {
  background-color: #deb767 !important;
}

.mat-elevation-z8 {
  box-shadow: 0 2px 5px 0 rgba(164, 173, 186, 0.25) !important;
}

.black-border-btn {
  border: 1px solid #121212;
  color: #121212;
}

mat-menu button {
  font-weight: normal !important;
}

@media screen and (max-width: 570px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  mat-tab-group {
    display: inline-grid;
  }
}
.week-filter-div {
  text-align: center;
  width: 400px;
  border-radius: 6px;
  background-color: #fff;
}
.week-filter-div .column {
  width: 30%;
  -webkit-transition: 0.3s linear;
  cursor: pointer;
  padding: 0.75em;
  background-color: #f7f7f8;
}
.week-filter-div .mid-column {
  width: 100%;
  padding: 0.75em;
  margin: 0 1em;
  background-color: #f7f7f8;
}
.week-filter-div .column:hover {
  background-color: #f1f1f1;
  transition: 0.5s ease;
}

h2 {
  cursor: pointer;
}

.header-row {
  width: 100%;
  margin-top: 2em;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.1), 0 8px 10px 1px rgba(0, 0, 0, 0.05), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.header-row .header-col {
  background-color: #deb767;
  padding: 1em;
  width: 100%;
  border: 1px solid rgba(222, 182, 103, 0.3);
}

::ng-deep.mat-typography h3 {
  margin: 0;
}

.white-col {
  background-color: #fff;
  padding: 1em;
  cursor: pointer;
  border-bottom: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  -webkit-transition: 0.3s linear;
}

.white-col:hover {
  transition: 0.5s ease;
  margin: 0.25em;
}

.scheduled-binding-div {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.1), 0 8px 10px 1px rgba(0, 0, 0, 0.05), 0 3px 14px 2px rgba(0, 0, 0, 0.08);
  margin-top: 2em;
}

mat-spinner {
  margin-left: 45%;
  margin-top: 5%;
  position: absolute;
  z-index: 3;
}

.staff-badge {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 1em;
  margin-top: 0.25em;
}

.staff-name-div {
  width: 100%;
  display: inline-flex;
}

.full-name-col {
  background-color: #ffffff;
  padding: 1em;
  border-bottom: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
}

mat-form-field {
  width: 50%;
}

@media screen and (max-width: 570px) {
  .week-filter-div {
    width: 100%;
  }
  .week-filter-div .column {
    padding: 1em;
  }
  .week-filter-div .mid-column {
    padding: 1em 0.25em;
  }

  .white-col {
    width: 200px;
  }

  .full-name-col {
    width: 200px;
  }

  mat-form-field {
    width: 100%;
  }

  .scheduled-div {
    overflow-x: scroll;
  }

  .header-row {
    width: auto;
  }
  .header-row .header-col {
    width: 200px;
    padding: 0.5em;
    text-align: center;
  }
}
@media screen and (min-width: 570px) and (max-width: 1440px) {
  .component-content {
    margin-left: 5em;
  }

  .week-filter-div {
    width: 100%;
  }
  .week-filter-div .column {
    padding: 1em;
  }
  .week-filter-div .mid-column {
    padding: 1em 0.25em;
  }

  .white-col {
    width: 200px;
  }

  .full-name-col {
    width: 200px;
  }

  mat-form-field {
    width: 100%;
  }

  .scheduled-div {
    overflow-x: scroll;
  }

  .header-row {
    width: auto;
  }
  .header-row .header-col {
    width: 200px;
    padding: 0.5em;
    text-align: center;
  }
}

/*# sourceMappingURL=staff-shifts-overview.component.css.map */
