@import "src/styles"

.client-binding
  padding: 2em
  margin: 1em
  background-color: #fff
  -webkit-box-shadow: 2px 4px 82px -61px rgba(0, 0, 0, 0.75)
  -moz-box-shadow: 2px 4px 82px -61px rgba(0, 0, 0, 0.75)
  box-shadow: 2px 4px 82px -61px rgba(0, 0, 0, 0.75)

  .header-row
    font-weight: bold !important
    background-color: $default-gold

  .row
    border-bottom: 1px solid $lighter-silver

  .client-row
    -webkit-transition: .3s linear
    cursor: pointer

    h2
      padding-top: 1em

  .client-row:hover
    background-color: $most-light-silver
    transition: .3s ease-in-out


.header
  padding-top: 2em


.row
  margin: 0 !important

mat-spinner
  margin-left: 47%
  margin-top: 20%
  z-index: 3
  position: absolute

.first-letter-h1
  background-color: $most-light-silver
  width: 70px
  height: 70px
  padding-top: .7em
  margin-right: 1em
  text-align: center
  border-radius: 50%

mat-form-field
  width: 50%

.client-binding
  height: 700px
  overflow-y: scroll

@media screen and (max-width: 570px)
  .client-binding
    height: 380px

  .component-content
    height: auto

  .first-letter-h1
    padding: .5em
    text-align: center
    margin: 0


  .client-binding
    padding: 0

  .component-content
    padding: 0

  mat-form-field
    width: 100%

  .default-btn
    width: 100%
  h3
    line-height: 20px

  h4
    line-height: 10px
    color: $light-silver

table
  width: 100%
.border-btn
  width: 100px
  font-size: 20px
  margin: 1em
  padding: .1em 0

