<mat-spinner diameter="50" #spinner></mat-spinner>
<div class="component-content">
  <div class="row header">
    <div class="col-sm">
      <form [formGroup]="searchForm">
        <mat-form-field appearance="outline">
          <mat-label>Pretraži</mat-label>
          <input (input)="search()" matInput formControlName="search" [(ngModel)]="searchText">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </form>
    </div>
    <div class="col-sm text-right">
      <button class="default-btn" mat-button (click)="openAddClientDialog()">Dodaj</button>
    </div>
  </div>
  <app-paginator (next)="getNext()" (prev)="getPrevious()"></app-paginator>
  <div class="client-binding">
    <div class="row header-row desktop">
      <div class="col-sm">
        <h2>Ime</h2>
      </div>
      <div class="col-sm">
        <h2>Prezime</h2>
      </div>
      <div class="col-sm">
        <h2>Broj telefona</h2>
      </div>
      <div class="col-sm">
        <h2>Pol</h2>
      </div>
      <div class="col-sm"></div>
    </div>
    <div class="binding desktop">
      <div class="row client-row" style="padding-top: 1em" *ngFor="let client of listOfItems">
        <div class="col-sm" (click)="openClientOverviewDialog(client)">
          <div class="inline">
            <h1 class="first-letter-h1">{{client.person.firstName.substr(0, 1)}}</h1>
            <h2>{{client.person?.firstName}}</h2>
          </div>
        </div>
        <div class="col-sm" (click)="openClientOverviewDialog(client)">
          <h2>{{client.person?.lastName}}</h2>
        </div>
        <div class="col-sm" (click)="openClientOverviewDialog(client)">
          <h2 *ngIf="client.person.contacts.length>0">{{ client.person.contacts[0].value}}</h2>
        </div>
        <div class="col-sm" (click)="openClientOverviewDialog(client)">
          <h2>{{client.gender | capitalize}}</h2>
        </div>
        <div class="col-sm">
          <button style="margin-top: 1em" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>expand_more</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openEditClientDialog(client)"><i class="fa fa-pencil" aria-hidden="true"></i>
              Izmeni
            </button>
            <button mat-menu-item (click)="deleteClient(client.id)"><i class="fa fa-trash" aria-hidden="true"></i>
              Obriši
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
    <div class="binding mobile">
      <div class="row client-row" style="padding-top: 1em" *ngFor="let client of listOfItems|search:[' client.person.firstName','client.person.lastName']:searchText">
        <div class="col-3" (click)="openClientOverviewDialog(client)">
          <h1 class="first-letter-h1">{{client.person.firstName.substr(0, 1)}}</h1>
        </div>
        <div (click)="openClientOverviewDialog(client)" class="col-6">
          <h3>{{client.person?.firstName + ' ' + client.person.lastName}}</h3>
          <h4 *ngIf="client.person.contacts.length>0">{{ client.person.contacts[0].value}}</h4>
        </div>
        <div class="col-3">
          <button style="margin-top: 1em" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>expand_more</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openEditClientDialog(client)"><i class="fa fa-pencil" aria-hidden="true"></i>
              Izmeni
            </button>
            <button mat-menu-item (click)="deleteClient(client.id)"><i class="fa fa-trash" aria-hidden="true"></i>
              Obriši
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
</div>
