<div class="row">
  <div class="col-sm white-col">
    <div class="row">
      <div class="col-6 ">
        <h1>Države</h1>
      </div>
      <div class="col-6 text-right">
        <button mat-button class="default-btn" (click)="openAddCountryDialog()">Dodaj</button>
      </div>
    </div>
    <mat-spinner #spinner diameter="50"></mat-spinner>
    <div class="content">
      <div *ngFor="let country of listOfItems">
        <div class="row">
          <div class="col">
            <h3>{{country.name}}</h3>
          </div>
          <div class="col">
            <button mat-button color="warn" (click)="deleteCountry(country.id)"><i class="fa fa-trash"></i></button>
            <button mat-button (click)="openAddCountryDialog({name:country.name,id:country.id})"><i
              class="fa fa-pencil"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm white-col">
    <div class="row">
      <div class="col-6 ">
        <h1>Gradovi</h1>
      </div>
      <div class="col-6 text-right">
        <button mat-button class="default-btn" (click)="openAddCityDialog()">Dodaj</button>
      </div>
    </div>
    <div class="content">
      <div *ngFor="let city of listOfCities">
        <div class="row">
          <div class="col">
            <h3>{{city.name}}</h3>
          </div>
          <div class="col">
            <h3 *ngIf="city.country">{{city.country.name}}</h3>
          </div>
          <div class="col">
            <button mat-button (click)="deleteCity(city.id)" color="warn"><i class="fa fa-trash"></i></button>
            <button mat-button (click)="openAddCityDialog({name:city.name,id:city.id,country:city.country})"><i
              class="fa fa-pencil"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
