<div class="dialog">
  <div class="row">
    <div class="col-6 left">
      <h1><b>Informacije o fakturi</b></h1>
    </div>
    <div class="col-6 text-right right">
      <h2>{{date}}</h2>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="appointment-div">
    <div *ngFor="let appointment of data.appointments" class="appointment-card">
      <div class="row">
        <div class="col-sm left" >
          <h3><b>{{appointment.date}}</b></h3>
        </div>
        <div class="col-sm right" >
          <div class="inline" style="width: 100%">
            <h3 class="start-h3">{{appointment.startTime}}</h3>
            <h3 class="end-h3">{{appointment.endTime}}</h3>
          </div>
        </div>
      </div>
      <h2 class="appointment-name-h2">{{appointment.treatment.name}}</h2>
      <h3><b>{{appointment.client.person?.firstName + ' ' + appointment.client.person?.lastName}}</b></h3>
      <h4 class="phone-no">{{appointment.client.person.contacts|findClientPhoneNumber}}</h4>
    </div>
  </div>
</div>
