<app-header header="Tretmani"></app-header>
<button mat-raised-button (click)="test()">TEst</button>
<div class="service-content" style="height: auto;">
  <div class="container">
    <mat-spinner #spinner diameter="50"></mat-spinner>
    <div class="text-right">
      <button mat-button class="default-btn" [matMenuTriggerFor]="menu">Dodaj</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openAddServiceDialog()">Dodaj tretman</button>
        <button mat-menu-item (click)="openAddTreatmentCategoryDialog()">Dodaj kategoriju</button>
      </mat-menu>
    </div>
    <div class="treatment-category-div" *ngFor="let treatmentCategory of listOfItems">
      <div class="row">
        <div class="col">
          <h1>
            {{treatmentCategory.name | capitalize}}
          </h1>
        </div>
        <div class="col text-right" style="padding-top: 1em">
          <button
            (click)="openAddTreatmentCategoryDialog({name:treatmentCategory.name,id:treatmentCategory.id})"
            mat-button><i class="fa fa-pencil"
                          aria-hidden="true"></i>
            Izmeni
          </button>
        </div>
      </div>
      <div class="treatment-card row" *ngFor="let treatment of treatmentCategory.treatments">
        <div class="col-4" (click)="openAddServiceDialog(treatment)">
          <h3>{{treatment.name}}</h3>
        </div>
        <div class="col-3" (click)="openAddServiceDialog(treatment)">
          <h3 class="duration-h3" *ngFor="let duration of treatment.durations">{{duration.duration + '' + 'min'}}</h3>
        </div>
        <div class="col-3" (click)="openAddServiceDialog(treatment)">
          <h3 class="price" *ngFor="let duration of treatment.durations">{{'RSD ' + duration.price}}</h3>
        </div>
        <div class="col-2">
          <button mat-button color="warn" (click)="deleteTreatment(treatment.id)"><i class="fa fa-trash"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
