@import "src/styles"
header
  padding: 2em 1em .5em 1em
  background-color: #fff

  h1
    font-size: 28px
    font-weight: bold

.sidenav-btn
  visibility: hidden

.fa-angle-left
  font-size: 18px
  font-weight: bold
  -webkit-transition: .3s linear
  margin-top: -.1em

@media screen and (max-width: 570px)
  .sidenav-btn
    visibility: visible
  header
    background-color: $default-gold
