<div class="dialog">
  <div class="row">
    <div class="col-6">
      <h1><b>Globalna pretraga</b></h1>
      <p><span class="colored-span">Klijent:</span> ime,prezime,mejl,kontakt telefon</p>
      <p><span class="colored-span">Tretman:</span> naziv tretmana,naziv masažera,pretraga klijenta koji se masira</p>
    </div>
    <div class="col-6 text-right">
      <button mat-fab matDialogClose>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div class="centered" id="centered">
    <h1 class="huge-h1" (click)="showSearch()" id="huge-label">Započni pretragu...</h1>
    <div [formGroup]="searchForm" style="width: 70%">
      <mat-form-field id="search">
        <input matInput (input)="inputChange()" formControlName="search" [(ngModel)]="searchText">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <mat-spinner #spinner diameter="50"></mat-spinner>
  </div>

  <div class="row search-row">
    <div *ngIf="listOfAppointments.length >0" class="col-sm appointment-col">
      <div *ngFor="let item of listOfAppointments" (click)="openAppointmentOverviewDialog(item)"
           class="appointment-card">
        <div class="row">
          <div class="col-sm left">
            <h3><b>{{item.date | date}}</b></h3>
          </div>
          <div class="col-sm right">
            <div class="inline" style="width: 100%">
              <h3 class="start-h3">{{item.startTime}}</h3>
              <h3 class="end-h3">{{item.endTime}}</h3>
            </div>
          </div>
        </div>
        <h2 class="appointment-name-h2">{{item.treatment.name}}</h2>
        <h3><b>{{item.clients[0].person?.firstName + ' ' + item.clients[0].person?.lastName}}</b></h3>
        <h4 class="phone-no">{{item.clients[0].person.contacts|findClientPhoneNumber}}</h4>
      </div>
    </div>
    <div *ngIf="listOfClients.length >0" class="col-sm client-col">
      <div class="client-div" (click)="openClientOverviewDialog(client)" *ngFor="let client of listOfClients">
        <div class="inline ">
          <div class="big-circle text-center"
               style=background-color:#c2c2c2>{{client.person?.firstName.slice(0, 1)}}</div>
          <div class="right-col">
            <h3><b>{{client.person?.firstName + ' ' + client.person?.lastName}}</b></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
