@import "src/styles"

.huge-h1
  font-size: 100px
  color: #c2c2c2
  font-weight: bold

.centered
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center
  min-height: 70vh
  -webkit-transition: .3s linear
  -webkit-transition-delay: .2s

.colored-span
  background-color: $default-gold
  padding: .5em
  margin: 2em 0
  color: #fff
  font-weight: bold

mat-form-field
  display: none
  font-size: 40px
