@import "src/styles"
.header-row
  background-color: $lighter-silver
  padding: .2em
  margin-top: 2em

  h3
    font-weight: bold

.location-source-row
  -webkit-transition: .3s linear
  cursor: pointer

.location-source-row:hover
  background-color: $most-light-silver
  transition: .3s ease-in-out

mat-spinner
  margin-left: 48%
  margin-top: 5%
