<div class="component-content">
  <div class="row">
    <div class="col-6">
      <h1><span>Lokacije</span></h1>
    </div>
    <div class="col-6 text-right">
      <button mat-button class="default-btn" (click)="openAddLocationDialog()">Dodaj</button>
    </div>
  </div>
  <div>
    <div class="row header-row text-center">
      <div class="col-sm">
        <h3>Naziv</h3>
      </div>
      <div class="col-sm">
        <h3>Adresa</h3>
      </div>
      <div class="col-sm">
        <h3>Datum kreiranja</h3>
      </div>
      <div class="col-sm">
      </div>
    </div>
    <div class="row text-center location-source-row"
         *ngFor="let location of listOfItems">
      <div class="col-sm" (click)="openAddLocationDialog(location)">
        <h3>{{location.name}}</h3>
      </div>
      <div class="col-sm" (click)="openAddLocationDialog(location)">
        <h3>{{location.address?.street + ' ' + location.address?.number + ',' + location.address?.city?.name}}</h3>
      </div>
      <div class="col-sm" (click)="openAddLocationDialog(location)">
        <h3>{{location.createdDate.getDate()}}/{{location.createdDate.getMonth() + 1}}
          /{{location.createdDate.getUTCFullYear()}}</h3>
      </div>
      <div class="col-sm">
        <button mat-button color="warn" (click)="deleteLocation(location.id)">
          <i class="fa fa-trash"></i>
        </button>

      </div>
      <div class="divider"></div>
    </div>
    <mat-spinner diameter="50" #spinner></mat-spinner>

  </div>

</div>
