<div>
  <div class="text-right">
    <button class="default-btn" mat-button (click)="openAddReferralSourceDialog({})">Dodaj</button>
  </div>
  <div class="row header-row text-center">
    <div class="col-4">
      <h3>Naziv</h3>
    </div>
    <div class="col-4">
      <h3>Datum kreiranja</h3>
    </div>
    <div class="col-4">
    </div>
  </div>
  <div class="row text-center referral-source-row"
       *ngFor="let referralSource of listOfItems">
    <div class="col-4" (click)="openAddReferralSourceDialog({id:referralSource.id,value:referralSource.value})">
      <h3>{{referralSource.value}}</h3>
    </div>
    <div class="col-4" (click)="openAddReferralSourceDialog({id:referralSource.id,value:referralSource.value})">
      <h3>{{referralSource.createdDate.getDate()}}/{{referralSource.createdDate.getMonth() + 1}}
        /{{referralSource.createdDate.getUTCFullYear()}}</h3>
    </div>
    <div class="col-4">
      <button mat-button color="warn" (click)="deleteReferralSource(referralSource.id)">
        <i class="fa fa-trash"></i>
      </button>

    </div>
    <div class="divider"></div>
  </div>
  <mat-spinner diameter="50" #spinner></mat-spinner>

</div>
