<div class="dialog">
  <div class="row">
    <div class="col-6">
      <h1><b>Kreiranje vaučera</b></h1>
    </div>
    <div class="col-6 text-right">
      <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <form [formGroup]="voucherForm">
    <mat-form-field appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="startDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>
  <app-form-select label="Tip vaučera" [model]="data ? data.type:null" (onChange)="disableByVoucherType()"
                   [group]="voucherForm"
                   [config]="typeSelectConfig"></app-form-select>
  <app-form-input [group]="voucherForm" [model]="data?data.count:null" label="Količina"
                  [isDisabled]="isCountDisabled"
                  [config]="countInputConfig"></app-form-input>
  <app-form-input [group]="voucherForm" [model]="data?data.discount:null" label="Popust"
                  [isDisabled]="isDiscountDisabled"
                  [config]="discountInputConfig"></app-form-input>
  <app-form-select label="Način plaćanja" [model]="data ? data.paymentMethod :null" [group]="voucherForm"
                   [config]="paymentMethodSelectConfig"></app-form-select>
  <app-form-select bindValue="name"
                   [config]="treatmentSelectConfig"
                   (onChange)="onTreatmentSelect()"
                   label="Izaberi tretman"
                   [group]="voucherForm"></app-form-select>
  <app-form-select bindValue="duration"
                   [isDisabled]="data ? isDurationFCDisabled:false"
                   label="Izaberi trajanje"
                   [config]="durationSelectConfig"
                   [group]="voucherForm"></app-form-select>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>Klijenti</mat-expansion-panel-header>
      <div class="client">
        <div class="row">
          <div class="col-6">
            <form [formGroup]="searchForm">
              <mat-form-field appearance="outline">
                <mat-label>Pretraži</mat-label>
                <input (input)="search()" matInput formControlName="search" [(ngModel)]="searchText">
                <mat-icon matSuffix>
                  search
                </mat-icon>
              </mat-form-field>
            </form>
          </div>
          <div class="col-6">
            <app-paginator (next)="getNext()" (prev)="getPrevious()"></app-paginator>
          </div>
        </div>
        <div class="row client-row" style="padding-top: 1em" *ngFor="let client of listOfClients"
             (click)="selectClient(client,$event)">
          <div class="col-sm">
            <div class="inline">
              <h1 class="first-letter-h1">{{client.person.firstName.substr(0, 1)}}</h1>
              <h2>{{client.person?.firstName}}</h2>
            </div>
          </div>
          <div class="col-sm">
            <h2>{{client.person?.lastName}}</h2>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>


  <mat-spinner #spinner diameter="25"></mat-spinner>

  <button class="default-btn" (click)="save()" mat-button>Sačuvaj</button>
</div>
