<mat-drawer-container hasBackdrop="true" fullscreen>
  <mat-drawer #drawer mode="over">
    <div class="drawer-wrapper">
      <a (click)="changeColor($event)" class="inactive">
        <a class="a-h2 text-center" (click)="loadOverviewComponent()" id="overview-side-btn">
              <span class="icon-span"><i disabled
                                         class="fa fa-home"></i> </span>
          <span class="txt-span">Početna</span>
        </a>
      </a>
      <app-component-activator icon="fa-calendar-o" title="Kalendar"
                               [roleActivator]="[roleSetting.ADMIN,roleSetting.RECEPTIONIST,roleSetting.THERAPIST]"
                               (load)="loadAppointmentComponent()"></app-component-activator>

      <app-component-activator icon="fa-id-card-o" title="Šifarnik"
                               [roleActivator]="[roleSetting.ADMIN,roleSetting.RECEPTIONIST]"
                               (load)="loadCodeBookComponent()"></app-component-activator>

      <app-component-activator icon="fa-user" title="Klijenti" [roleActivator]="[roleSetting.ADMIN]"
                               (load)="loadClientComponent()"></app-component-activator>

      <app-component-activator icon="fa-bookmark" title="Tretmani" [roleActivator]="[roleSetting.ADMIN]"
                               (load)="loadServiceComponent()"></app-component-activator>

      <app-component-activator icon="fa fa-building" title="Zaposleni"
                               [roleActivator]="[roleSetting.ADMIN,roleSetting.RECEPTIONIST]"
                               (load)="loadStaffComponent()"></app-component-activator>
      <app-component-activator icon="fa fa-calendar" title="Raspored radnih sati"
                               [roleActivator]="[roleSetting.ADMIN,roleSetting.RECEPTIONIST,roleSetting.THERAPIST]"
                               (load)="loadShiftOverview()"></app-component-activator>

      <app-component-activator icon="fa fa-cc-visa" title="Fakture" [roleActivator]="[roleSetting.ADMIN]"
                               (load)="loadInvoiceComponent()"></app-component-activator>

      <app-component-activator icon="fa fa-archive" title="Vaučeri"
                               [roleActivator]="[roleSetting.ADMIN,roleSetting.RECEPTIONIST]"
                               (load)="loadVouchersComponent()"></app-component-activator>

      <app-component-activator icon="fa fa-dropbox" title="Paketi"
                               [roleActivator]="[roleSetting.ADMIN,roleSetting.RECEPTIONIST]"
                               (load)="loadPackageComponent()"></app-component-activator>

      <app-component-activator icon="fa fa-eur" title="Troškovi"
                               [roleActivator]="[roleSetting.ADMIN,roleSetting.RECEPTIONIST]"
                               (load)="loadExpensesComponent()"></app-component-activator>

      <app-component-activator icon="fa fa-area-chart" title="Analitika" [roleActivator]="[roleSetting.ADMIN]"
                               (load)="loadAnalyticsComponent()"></app-component-activator>
      <app-component-activator icon="fa fa-users" title="Korisnici" [roleActivator]="[roleSetting.ADMIN]"
                               (load)="loadUserComponent()"></app-component-activator>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="row">
      <div class="col side-nav-col" #sideNav>
        <div class="side-nav-col-content ">
          <div class="wrapper">
            <button (click)="openSideNav()" mat-icon-button>
              <mat-icon id="menu-icon">arrow_forward_ios
              </mat-icon>
            </button>
            <a (click)="changeColor($event)" class="inactive">
              <a class="a-h2 text-center" (click)="loadOverviewComponent()" id="overview-btn">
              <span class="icon-span"><i disabled
                                         class="fa fa-home"></i> </span>
                <span class="txt-span">Početna</span>
              </a>
            </a>
            <app-component-activator icon="fa-calendar-o" title="Kalendar"
                                     [roleActivator]="[roleSetting.ADMIN,roleSetting.RECEPTIONIST,roleSetting.THERAPIST]"
                                     (load)="loadAppointmentComponent()"></app-component-activator>

            <app-component-activator icon="fa-id-card-o" title="Šifarnik"
                                     [roleActivator]="[roleSetting.ADMIN,roleSetting.RECEPTIONIST]"
                                     (load)="loadCodeBookComponent()"></app-component-activator>

            <app-component-activator icon="fa-user" title="Klijenti"
                                     [roleActivator]="[roleSetting.ADMIN,roleSetting.RECEPTIONIST]"
                                     (load)="loadClientComponent()"></app-component-activator>

            <app-component-activator icon="fa-bookmark" title="Tretmani" [roleActivator]="[roleSetting.ADMIN]"
                                     (load)="loadServiceComponent()"></app-component-activator>

            <app-component-activator icon="fa fa-building" title="Zaposleni"
                                     [roleActivator]="[roleSetting.ADMIN,roleSetting.RECEPTIONIST]"
                                     (load)="loadStaffComponent()"></app-component-activator>
            <app-component-activator icon="fa fa-calendar" title="Raspored radnih sati"
                                     [roleActivator]="[roleSetting.ADMIN,roleSetting.RECEPTIONIST,roleSetting.THERAPIST]"
                                     (load)="loadShiftOverview()"></app-component-activator>

            <app-component-activator icon="fa fa-cc-visa" title="Fakture"
                                     [roleActivator]="[roleSetting.ADMIN,roleSetting.RECEPTIONIST]"
                                     (load)="loadInvoiceComponent()"></app-component-activator>

            <app-component-activator icon="fa fa-archive" title="Vaučeri"
                                     [roleActivator]="[roleSetting.ADMIN,roleSetting.RECEPTIONIST]"
                                     (load)="loadVouchersComponent()"></app-component-activator>

            <app-component-activator icon="fa fa-dropbox" title="Paketi"
                                     [roleActivator]="[roleSetting.ADMIN,roleSetting.RECEPTIONIST]"
                                     (load)="loadPackageComponent()"></app-component-activator>

            <app-component-activator icon="fa fa-eur" title="Troškovi"
                                     [roleActivator]="[roleSetting.ADMIN,roleSetting.RECEPTIONIST]"
                                     (load)="loadExpensesComponent()"></app-component-activator>

            <app-component-activator icon="fa fa-area-chart" title="Analitika" [roleActivator]="[roleSetting.ADMIN]"
                                     (load)="loadAnalyticsComponent()"></app-component-activator>
            <app-component-activator icon="fa fa-users" title="Korisnici" [roleActivator]="[roleSetting.ADMIN]"
                                     (load)="loadUserComponent()"></app-component-activator>
          </div>
        </div>
      </div>
      <div class="col">
        <app-header (openSideNav)="drawer.toggle()" [header]="header"></app-header>
        <div #target></div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
