@import "src/styles"

.side-nav-col
  width: 75px
  max-width: 75px
  -webkit-transition: .3s linear
  background-color: $less-black


.side-nav-col-content
  background-color: $less-black
  padding: 5em 1em
  height: 100%
  width: inherit
  flex-direction: column
  position: fixed

  a
    display: flex
    overflow: hidden
    min-width: 44px
    width: 100%
    align-items: center
    text-decoration: none
    color: unset

  .a-h2
    color: $light-silver
    margin-top: 1em
    cursor: pointer

  .icon-span
    margin: 1em

    i
      font-size: 30px

  .txt-span
    margin-left: .5em
    font-size: 20px

#menu-icon
  -webkit-transition: .5s linear
  transform: rotate(90deg)

.row
  height: 100%

.inline-col
  height: 100vh
  width: 100%

.active
  color: $default-gold !important
  background-color: $silver-rgba
  cursor: pointer
  -webkit-transition: .3s ease-in-out

  i
    color: $default-gold !important

.side-col
  max-width: 80px

.inline
  display: inline-flex
  width: 100%

.col
  padding-left: 0
  padding-right: 0
