@import "src/styles"
li
  font-size: 16px
  margin: 2em 0
  border-bottom: 1px solid #e1e1e1

mat-spinner
  margin-left: 45%
.header-row
  margin-top: 2em
.circle
  width: 50px
  height: 50px
  margin-left: 30%
  border-radius: 50%
  padding: .5em
  color: #fff

.appointment-card
  h4
    color: #fff
    line-height: 3px

  .treatment-name
    line-height: normal
