@import "src/styles"
li
  font-size: 16px
  margin: 2em 0
  border-bottom: 1px solid #e1e1e1

mat-spinner
  margin: 15% 0 5% 47%
  position: absolute
  z-index: 3

.header-row
  margin-top: 2em

.circle
  width: 50px
  height: 50px
  margin: auto
  border-radius: 50%
  padding: .5em
  color: #fff

  h2
    font-weight: bold

.appointment-card
  padding-left: 1em

  h4
    color: #fff

  .treatment-name
    line-height: normal

.week-filter-div
  text-align: center
  width: 400px
  border: 1px solid #c2c2c2
  border-radius: 6px
  background-color: #fff

  .column
    width: 30%
    -webkit-transition: .3s linear
    cursor: pointer
    padding: .5em

  .mid-column
    width: 100%
    padding: .5em

  .column:hover
    background-color: $lighter-silver
    transition: .5s ease

  .left
    border-right: 1px solid #c2c2c2

  .right
    border-left: 1px solid #c2c2c2

.add-btn
  background-color: $default-black
  color: $default-gold
  margin-bottom: 2em

.col-sm-1
  border-right: 1px solid #e1e1e1
  padding: 1em

.appointment-col
  border-right: 1px solid #e1e1e1
  padding: 1em 0 0 .2em

.empty-col
  border: .25px solid #f1f1f1
  background-color: #ffffff
  padding: 1em 0 0 .1em

.border-btn
  margin: 1em
  font-size: 20px
  padding: .2em
  width: 100px
  font-weight: bold
