<div class="component-content">
  <div class="row">
    <div class="col-10 " style="padding-left: 0">
      <div class="inline week-filter-div">
        <div class="column" (click)="previousDay()">
          <h3><i class="fa fa-angle-left" aria-hidden="true"></i></h3>
        </div>
        <div class="mid-column">
          <h3>
            <b>{{currentDate.format('DD MMMM YYYY')}}</b>
          </h3>
        </div>
        <div class="column" (click)="nextDay()">
          <h3><i class="fa fa-angle-right" aria-hidden="true"></i></h3>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="text-right">
        <button class="add-btn" (click)="openAddAppointmentDialog({room:{}})" mat-fab>
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <mat-spinner diameter="50" #spinner></mat-spinner>
  <div class="row">
    <div class="col-sm">
      <div class="inline location-inline">
        <div [formGroup]="searchForm">
          <mat-form-field appearance="outline">
            <mat-label>Pretraži</mat-label>
            <input (input)="search()" matInput formControlName="search" [(ngModel)]="searchText">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
        <div>
          <div class="inline location-div">
            <div class="location-active" (click)="changeLocation($event,firstLocation)"
                 *ngFor="let firstLocation of listOfLocations|slice:0:1"><h3>{{firstLocation.name | capitalize}}</h3>
            </div>
            <div class="location-inactive" (click)="changeLocation($event,location)"
                 *ngFor="let location of listOfLocations|slice:1"><h3>{{location.name | capitalize}}</h3></div>
            <div class="location-inactive" (click)="getAllRoomsAppointments($event)"><h3>Sve sobe</h3>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-sm">
      <app-paginator (prev)="previousStaffs()" (next)="nextStaffs()"
                     [showNext]="filteredScheduleList.length >0"></app-paginator>
    </div>

  </div>
  <div class="calendar">
    <div class="calendar-wrapper" id="calendarBinding">
      <div class="row header-row">
        <div class="col-sm-1 time-col"></div>
        <div class="col-sm text-center staff-col"
             *ngFor="let roomDto of filteredScheduleList">
          <h4><b>{{roomDto.name}}</b></h4>
        </div>
      </div>
      <div class="row" *ngFor="let time of listOfTimes">
        <div class="col-sm-1 time-col" style="background-color: #f7f7f8">
          <h3 class="text-center"><b>{{time}}</b></h3>
        </div>
        <ng-container *ngFor="let roomDto of filteredScheduleList ">
          <ng-container *ngIf="(roomDto|checkIsAppointmentBetween:time)  as appointmentInInterval; else emptyCol">
            <div class="col-sm  appointment-col" [style.background-color]="appointmentInInterval.staff.color">
              <div class="appointment-card"
                   *ngIf="roomDto.appointments.length >0 && (roomDto | checkIsAppointmentStart:time);let appointment;">
                <div class="row">
                  <div (click)="openAppointmentOverviewDialog(appointment)" class="col-6" style="padding-left: 0">
                    <h3> {{appointment.startTime.slice(0, 5) + '-' + appointment.endTime.slice(0, 5) }}
                    </h3>
                  </div>
                  <div class="col-6 text-right">
                    <button mat-icon-button
                            [disabled]="appointment.appointmentStatus.value.toUpperCase() ==='CONFIRMED'"
                            (click)="checkAppointment(appointment)">
                      <mat-icon
                        style="color: #fff">{{appointment.appointmentStatus.value.toUpperCase() === 'CONFIRMED' ? 'event_available' : 'done'}}</mat-icon>
                    </button>
                  </div>
                </div>
                <div (click)="openAppointmentOverviewDialog(appointmentInInterval)">
                  <h4>
                    <b>{{ appointment.clients[0].person?.firstName + ' ' + appointment.clients[0].person?.lastName}}</b>
                  </h4>
                  <h4 class="treatment-name">{{ appointment.treatment?.name}}</h4>
                  <h4><b>{{ appointment.staff?.person?.firstName + ' ' + appointment.staff?.person?.lastName}}</b></h4>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-template #emptyCol>
            <div class="col-sm empty-col"
                 (click)="openAddAppointmentDialog({startTime:time,room:{id:roomDto.id},date:currentDate.format('YYYY-MM-DD'),client:{}})"></div>
          </ng-template>
        </ng-container>
      </div>
    </div>
  </div>
</div>
