<app-header header="Fakture"></app-header>
<div class="component-content">
  <div class="row">
    <div class="col-sm-10">
      <div class="inline">
        <form [formGroup]="invoiceFilterForm">
          <mat-form-field appearance="outline" class="example-form-field">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="rangePicker">
              <input matStartDate placeholder="Start date" formControlName="startDate">
              <input matEndDate placeholder="End date" formControlName="endDate">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
            <mat-date-range-picker #rangePicker>
              <mat-date-range-picker-actions>
                <button mat-button class="border-btn" (click)="getDate()" matDateRangePickerApply>Filtriraj</button>
              </mat-date-range-picker-actions>
            </mat-date-range-picker>
          </mat-form-field>

        </form>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>expand_more</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Nedeljni pregled</button>
          <button mat-menu-item>Mesečni</button>
        </mat-menu>
      </div>
    </div>
    <div class="col-sm text-right">
      <div class="text-center">
        <h2>{{currentDate.format('DD MMMM YYYY')}}</h2>
      </div>

    </div>
  </div>
</div>
