<app-header header="Fakture"></app-header>
<div class="component-content">
  <div class=" text-right">
    <div class="text-center">
      <h2><b>{{currentDate.format('DD MMMM YYYY')}}</b></h2>
    </div>

  </div>
  <mat-tab-group dynamicHeight>
    <mat-tab label="Nedeljni pregled ">
      <div class="table-wrapper">
        <app-table-binding [dataSource]="listOfCurrentWeekInvoices"></app-table-binding>
      </div>
    </mat-tab>
    <mat-tab label="Dnevni pregled ">
      <div class="table-wrapper">
        <app-table-binding [dataSource]="listOfCurrentDayInvoices"></app-table-binding>
      </div>
    </mat-tab>
    <mat-tab label="Prilagođeno ">
      <form style="margin-top: 2em" [formGroup]="invoiceFilterForm">
        <mat-form-field appearance="outline" class="example-form-field">
          <mat-label>Željeni datumi</mat-label>
          <mat-date-range-input [rangePicker]="rangePicker">
            <input matStartDate placeholder="Start date" formControlName="startDate">
            <input matEndDate placeholder="End date" formControlName="endDate">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
          <mat-date-range-picker #rangePicker>
            <mat-date-range-picker-actions>
              <button mat-button  style="width: 100%;" class="border-btn" (click)="getDate()" matDateRangePickerApply>Filtriraj</button>
            </mat-date-range-picker-actions>
          </mat-date-range-picker>
        </mat-form-field>

      </form>
      <div class="table-wrapper">
        <app-table-binding [dataSource]="listOfCurrentWeekInvoices"></app-table-binding>
      </div>
    </mat-tab>
  </mat-tab-group>
  <mat-spinner #spinner diameter="50"></mat-spinner>
</div>
