@import "src/styles"

mat-spinner
  margin-left: 45%

table
  width: 100%

tr
  -webkit-transition: .3s linear
  cursor: pointer

tr:hover
  transition: .5s linear
  background-color: $component-background
