@import "src/styles"
h1
  font-weight: bold

.circle
  width: 20px
  height: 20px
  border-radius: 50%
  margin: .7em .5em

mat-form-field
  width: 100%

mat-spinner
  margin-left: 45%
  display: none

.big-circle
  @extend .circle
  padding: 1em
  background-color: #63dfff !important
  width: 60px
  height: 60px
  font-size: 20px
  font-weight: bold

.contact
  color: $light-silver
  font-weight: bold

.right-col
  font-weight: bold
  padding: 1em

.col-4
  border-left: 1px solid $most-light-silver

.search-div
  padding: 2em
  border-bottom: 1px solid $most-light-silver

.client-div:hover
  background-color: $component-background
  transition: .5s ease

.client-div
  cursor: pointer
  margin: .5em 0
  -webkit-transition: .5s linear

.client-binding
  overflow-y: scroll
  height: 700px

.black-circle
  @extend .big-circle
  background-color: $default-black !important
  color: #fff !important
mat-vertical-stepper
  padding-top: 5em
