<mat-drawer-container>
  <mat-drawer #clientDrawer mode="side" position="end" opened>
    <div class="client-binding">
      <div class="search-div">
        <app-form-input (change)="search()" icon="search" label="Pretraži" [group]="searchClientForm"
                        [config]="searchInputConfig"></app-form-input>
      </div>
      <div class="inline" *ngFor="let client of selectedClients">
        <div class="black-circle text-center"
             style=background-color:#c2c2c2>{{client.person?.firstName.slice(0, 1)}}</div>
        <div class="right-col text-right">
          <h3><b>{{client.person?.firstName + ' ' + client.person?.lastName}}</b></h3>
          <button (click)="removeClient(client)" mat-button class="w-100 light-btn">Izbaci</button>
        </div>
      </div>
      <app-paginator (next)="getNext()" (prev)="getPrevious()"></app-paginator>
      <div class="client-div" (click)="selectClient(client)" *ngFor="let client of listOfClients">
        <div class="inline">
          <div class="big-circle text-center"
               style=background-color:#c2c2c2>{{client.person?.firstName.slice(0, 1)}}</div>
          <div class="right-col">
            <h3><b>{{client.person?.firstName + ' ' + client.person?.lastName}}</b></h3>
          </div>
        </div>
      </div>
      <mat-spinner #clientSpinner id="client-spinner" diameter="50"></mat-spinner>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <mat-spinner #spinner id="spinner" diameter="25"></mat-spinner>
    <div class="text-right">
      <button mat-icon-button matDialogClose>
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <h1>Dodavanje termina</h1>
    <mat-divider></mat-divider>
    <div class="row">
      <div class="col-sm-12">
        <mat-horizontal-stepper>
          <mat-step label="Datum i vreme">
            <form [formGroup]="appointmentForm">
              <mat-form-field appearance="outline">
                <mat-label>Datum termina</mat-label>
                <input matInput formControlName="date" [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </form>
            <app-form-input [config]="startTimeInputConfig" [group]="appointmentForm"
                            label="Početak tretmana"></app-form-input>
            <app-form-select [config]="appointmentStatusSelectConfig" [model]="data ? data.appointmentStatus : null"
                             [group]="appointmentForm"
                             label="Status tretmana" bindValue="value"></app-form-select>
            <ckeditor [editor]="Editor" #editor></ckeditor>
          </mat-step>
          <app-form-input [config]="startTimeInputConfig" [group]="appointmentForm"></app-form-input>
          <mat-step label="Tretman">
            <form [formGroup]="appointmentForm">
              <mat-form-field appearance="outline">
                <mat-label>Soba</mat-label>
                <mat-select formControlName="room" [compareWith]="compareRooms">
                  <mat-option>-- None --</mat-option>
                  <mat-optgroup *ngFor="let location of locationSelectConfig.options"
                                [label]="location.name | capitalize">
                    <mat-option *ngFor="let room of location.rooms" [value]="room">
                      {{room.name}}
                    </mat-option>
                  </mat-optgroup>
                </mat-select>
              </mat-form-field>
            </form>
            <app-form-select [model]="data ? treatment :null" bindValue="name"
                             [config]="treatmentSelectConfig"
                             (onChange)="onTreatmentSelect()"
                             label="Izaberi tretman"
                             [group]="appointmentForm"></app-form-select>
            <app-form-select bindValue="duration" (onChange)="sumEndTime()"
                             [isDisabled]="data ? isDurationFCDisabled:false"
                             label="Izaberi trajanje" [model]="data ? treatmentDuration :  null"
                             [config]="durationSelectConfig"
                             [group]="appointmentForm"></app-form-select>
            <app-form-input [config]="endTimeInputConfig" [model]="data ? data.endTime:null"
                            [group]="appointmentForm"></app-form-input>
          </mat-step>
          <mat-step label="Zaposleni">
            <form [formGroup]="appointmentForm">
              <mat-form-field appearance="outline">
                <mat-label>Zaposleni</mat-label>
                <input type="text"
                       placeholder="Pick one"
                       aria-label="Number"
                       matInput [(ngModel)]="searchText"
                       formControlName="staff"
                       [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                  <mat-option *ngFor="let staff of listOfStaffs" [value]="staff">
                    {{staff.person?.firstName}} {{staff.person?.lastName}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </form>
            <app-form-select [config]="paymentMethodSelectConfig" [model]="data ? data.paymentMethod:null"
                             [group]="appointmentForm"></app-form-select>
          </mat-step>
        </mat-horizontal-stepper>
      </div>
    </div>
    <button mat-button class="default-btn" style="width: 20%;margin: 2em 0 0 2em" (click)="save()"
            [disabled]="!appointmentForm.valid ||!selectedClients">
      Sačuvaj
    </button>
  </mat-drawer-content>
</mat-drawer-container>
