<div class="component-content">
  <mat-tab-group (selectedTabChange)="onTabChange()">
    <mat-tab label="Analitika tretmana">
      <div class="tab-content">
        <div class="row">
          <div class="col-sm-5" *ngIf="appointmentsAnalyticsDto" style="padding-left: 0;">
            <h1><b>Statistika tretmana na osnovu faktura</b></h1>
            <app-form-select (onChange)="getAppointmentsAnalytics()"  [group]="filterForm"
                             [config]="periodSelectConfig"></app-form-select>
            <div class="inline">
              <div class="big-circle">
                <h1 *ngIf="appointmentsAnalyticsDto">{{appointmentsAnalyticsDto.value + ' RSD'}}</h1>
              </div>
              <div style="display: block;margin-left: 1em">
                <h3>Količina: {{appointmentsAnalyticsDto.count}}</h3>
                <h3>{{appointmentsAnalyticsDto.start|date}} - {{appointmentsAnalyticsDto.end|date}}</h3>
              </div>
            </div>
          </div>
          <div class="col-sm" style="padding-right: 0">
            <h1><b>Otkazani tretmani</b></h1>
            <app-generic-analytics-table [displayedColumns]="canceledAppointmentsColumns"
                                         (filterFunction)="getCanceledAppointments($event)"
                                         (openOverview)="openAppointmentOverviewDialog($event)"
                                         [dataSource]="listOfCanceledAppointments"></app-generic-analytics-table>
          </div>
        </div>
        <div style="padding-top: 3em">
          <h1><b>Kompletirani tretmani</b></h1>
          <app-generic-analytics-table [displayedColumns]="canceledAppointmentsColumns"
                                       (openOverview)="openAppointmentOverviewDialog($event)"
                                       (filterFunction)="getCompletedAppointments($event)"
                                       [dataSource]="listOfCompletedAppointments"></app-generic-analytics-table>

        </div>
      </div>
    </mat-tab>
    <mat-tab label="Analitika klijenta i zaposlenih" #staffAndClientsAnalyticsTab></mat-tab>
    <mat-tab label="Analitika vaučera i paketa" #voucherAndPackageAnalyticsTab>
      <div class="tab-content">
        <div class="row">
          <div class="col-sm" style="padding-left: 0">
            <h1>Analitika vaučera</h1>
            <app-generic-analytics-table [displayedColumns]="voucherColumns"
                                         [dataSource]="[voucherAnalyticsDto]"></app-generic-analytics-table>
          </div>
          <div class="col-sm" style="padding-right: 0">
            <h1>Analitika paketa</h1>
            <app-generic-analytics-table [displayedColumns]="voucherColumns"
                                         [dataSource]="[packageAnalyticsDto]"></app-generic-analytics-table>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
