<div class="table-wrapper">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="billedClient">
      <th mat-header-cell *matHeaderCellDef> Platilac</th>
      <td mat-cell
          *matCellDef="let element"> {{element.billedClient.person?.firstName}} {{element.billedClient.person?.lastName}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="gross">
      <th mat-header-cell *matHeaderCellDef> Iznos</th>
      <td mat-cell *matCellDef="let element"> {{element.gross}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Tip</th>
      <td mat-cell
          *matCellDef="let element"> {{element.type |capitalize}} </td>
    </ng-container>
    <ng-container matColumnDef="option">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell
          *matCellDef="let element">
        <button mat-button (click)="openInvoiceDialogOverview(element)">Pregled</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
