@import "src/styles"
mat-tab-group
  padding-top: 1em


.default-btn
  width: 15%
  margin-top: 2em


.header-row
  background-color: $lighter-silver
  padding: .2em
  margin-top: 2em

.divider
  height: 1px
  background-color: $most-light-silver
  width: 100%


.referral-source-row
  -webkit-transition: .3s linear
  cursor: pointer

.referral-source-row:hover
  background-color: $most-light-silver
  transition: .3s ease-in-out
mat-spinner
  margin-left: 48%
  margin-top: 5%
