<mat-tab-group (selectedIndexChange)="loadActivatedComponent()" animationDuration="200ms" mat-stretch-tabs
               dynamicHeight>
  <mat-tab label="Razlozi otkazivanja">
    <div class="wrapper">
      <app-referral-source-overview></app-referral-source-overview>
    </div>
  </mat-tab>
  <mat-tab label="Gradovi i države" #countriesTab>
    <div class="wrapper" #countriesOverview></div>
  </mat-tab>
  <mat-tab label="Lokacija" #locationTab>
    <div class="wrapper" #locationOverview></div>
  </mat-tab>
</mat-tab-group>
