<mat-tab-group (selectedIndexChange)="loadActivatedComponent()" animationDuration="200ms" mat-stretch-tabs
               dynamicHeight>
  <mat-tab label="Razlozi otkazivanja">
    <div class="wrapper">
      <app-code-book-overview [configData]="referralSourceConfig" [inputService]="referralSourceService"
                              header="Načini dolaska" [displayNameValues]="['Naziv','Datum kreiranja']"
                              [attrNameValues]="['value','createdDate']"></app-code-book-overview>
    </div>
  </mat-tab>
  <mat-tab label="Gradovi i države" #countriesTab>
    <div class="wrapper" #countriesOverview></div>
  </mat-tab>
  <mat-tab label="Lokacija" #locationTab>
    <div class="wrapper" #locationOverview></div>
  </mat-tab>
  <mat-tab label="Statusi tretmane" #appointmentStatusTab>
    <div class="wrapper" #appointmentStatusOverview></div>
  </mat-tab>
  <mat-tab label="Tipovi troškova" #expenseTypeTab>
    <div class="wrapper" #expenseTypeOverview></div>
  </mat-tab>
</mat-tab-group>
