@import "src/styles"

.start-h3
  padding: .5em 1em
  background-color: $default-gold
  font-weight: bold
  margin-bottom: .5em

.inline
  justify-content: flex-end

.end-h3
  background-color: $default-black
  padding: .5em 1em
  color: $default-gold

.appointment-card
  margin-top: 2em
  box-shadow: 0 2px 5px 0 rgb(164 173 186 / 25%)
  padding: 1em

  .appointment-name-div
    padding: .5em
    margin-top: .5em
    font-weight: bold
    background-color: $component-background

    h2
      line-height: 3px
      padding-top: 1em

.client-h3
  text-decoration: underline
  -webkit-transition: .3s linear
  cursor: pointer

.client-h3:hover
  padding: .25em
  transition: .5s linear
  text-decoration: none
  background-color: $default-gold

.left
  padding-left: 0 !important

.right
  padding-right: 0 !important

.phone-no
  padding-bottom: 1em

.colored
  background-color: $component-background
  padding: .5em
