<div class="tab-content">
  <div class="row">
    <div class="col-sm" style="padding-left: 0">
      <h1><b>Analitika vaučera</b></h1>
      <app-generic-analytics-table (filterFunction)="getVoucherAnalytics($event)"
                                   [displayedColumns]="invoiceItemsColumns"
                                   [dataSource]="[voucherAnalyticsDto]"></app-generic-analytics-table>
    </div>
    <div class="col-sm" style="padding-right: 0">
      <h1><b>Analitika paketa</b></h1>
      <app-generic-analytics-table [displayedColumns]="invoiceItemsColumns"
                                   (filterFunction)="getPackageAnalytics($event)"
                                   [dataSource]="[packageAnalyticsDto]"></app-generic-analytics-table>
    </div>
  </div>
  <div style="margin-top: 2em">
    <h1><b>Analitika isteklih paketa</b></h1>
    <app-generic-analytics-table (filterFunction)="getExpiredPackages($event)"
                                 [displayedColumns]="expiredPackagesColumns"
                                 (openOverview)="openVoucherOverviewDialog($event)"
                                 [dataSource]="[listOfExpiredPackages]"></app-generic-analytics-table>
  </div>
  <div style="margin-top: 2em">
    <h1><b>Analitika isteklih vaučera</b></h1>
    <app-generic-analytics-table
      [displayedColumns]="expiredVouchersColumns"
      (filterFunction)="getExpiredVouchers($event)"
      (openOverview)="openVoucherOverviewDialog($event)"
      [dataSource]="[listOfExpiredVouchers]"></app-generic-analytics-table>
  </div>
</div>
