<div class="text-right">
  <app-form-select (onChange)="filterOnChange()" model="TODAY" [group]="filterForm"
                   [config]="periodSelectConfig"></app-form-select>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container *ngFor="let column of displayedColumns">
    <ng-container [matColumnDef]="column.name">
      <th mat-header-cell *matHeaderCellDef> {{column.displayedName}} </th>
      <td mat-cell *matCellDef="let element" (click)="openDialog(element)">
        <div class="inline">
          <ng-container *ngIf="isStaffTable && column.name==='firstName'">
            <div [style.background-color]="element.staff.color"
                 class="staff-badge"></div>
          </ng-container>
          {{element|dynamicProperty:column.value}}
        </div>
      </td>
    </ng-container>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns|mapColumnArr"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns|mapColumnArr;"></tr>
</table>
<mat-spinner #spinner diameter="25"></mat-spinner>
