<div class="dynamic-field form-select" [formGroup]="group">
  <mat-form-field appearance="outline" [style]="{'width':width}">
    <mat-label>{{label || config.label}}</mat-label>
    <mat-select [disabled]="isDisabled" [compareWith]="compareObjects" (selectionChange)="onOptionClick()"
                [(ngModel)]="model"
                [formControlName]="config.name"
                [required]="isRequired">
      <mat-option value="" selected>---</mat-option>
      <mat-option (click)="onOptionClick()" *ngFor="let item of config.options" [value]="item">
        {{item[bindValue] || item  | capitalize}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
