$default-black: #121212
$less-black: #212121
$dark-silver: #282828
$silver-rgba: rgba(72, 72, 72, .6)
$light-silver: #999999
$most-light-silver: #eeee
$default-gold: #deb767
$lighter-silver: #f1f1f1
$dark-gold: rgba(222, 182, 103, 0.6)
$darker-gold: rgba(222, 182, 103, 0.3)

a
  text-decoration: none

a:hover
  text-decoration: none

h1, h2, h3, a, mat-checkbox
  font-family: 'Work Sans', sans-serif

mat-form-field
  font-family: 'Work Sans', sans-serif !important


button
  font-family: 'Work Sans', sans-serif
  font-weight: bold
  letter-spacing: 1px

.row
  margin-left: 0 !important
  margin-right: 0 !important

.default-btn
  width: 30%
  background-color: $less-black
  padding: .3em 0 !important
  font-weight: bold
  color: $default-gold

.component-content
  background-color: #f7f7f8
  height: 100%

  padding: 0 2em

::-webkit-scrollbar
  height: 1em
  width: 10px
  background-color: $default-black


::-webkit-scrollbar-thumb
  background: $default-gold

.inline
  display: inline-flex

.mobile
  display: none

.mat-form-field-appearance-outline .mat-form-field-outline
  background-color: #fff
@media screen and (max-width: 570px)
  .desktop
    display: none

  .mobile
    display: block
