$default-black: #121212
$less-black: #212121
$dark-silver: #282828
$light-silver: #999999
$most-light-silver: #eeee
$default-gold: #deb767
$dark-gold: rgba(222, 182, 103, 0.6)
$darker-gold: rgba(222, 182, 103, 0.3)

mat-form-field
  font-family: 'Work Sans', sans-serif !important


button
  font-family: 'Work Sans', sans-serif
  font-weight: bold
  letter-spacing: 1px
