$default-black: #121212
$less-black: #212121
$dark-silver: #282828
$silver-rgba: rgba(72, 72, 72, .6)
$light-silver: #999999
$most-light-silver: #eeee
$default-gold: #deb767
$lighter-silver: #f1f1f1
$dark-gold: rgba(222, 182, 103, 0.6)
$darker-gold: rgba(222, 182, 103, 0.3)
$component-background: #f7f7f8
a
  text-decoration: none

a:hover
  text-decoration: none

li
  list-style-type: none

h1, h2, h3, h4, h5, a, li, mat-checkbox, p, .mat-step-text-label
  font-family: 'Work Sans', sans-serif !important

.mat-step-text-label
  font-weight: bold !important

.mat-typography h3
  margin: 0 !important

.mat-typography h4
  margin: 0 !important

mat-form-field
  font-family: 'Work Sans', sans-serif !important


button
  font-family: 'Work Sans', sans-serif
  font-weight: bold
  letter-spacing: 1px

.row
  margin-left: 0 !important
  margin-right: 0 !important

.default-btn
  width: 30%
  background-color: $less-black
  padding: .3em 0 !important
  font-weight: bold
  color: #ffffff
  font-size: 18px

.component-content
  padding: 4em 2em

::-webkit-scrollbar
  height: 1em
  width: 10px
  background-color: $default-black


::-webkit-scrollbar-thumb
  background: $default-gold

.inline
  display: inline-flex

.mobile
  display: none


.border-btn
  padding: .4em 0
  width: 30%
  background-color: transparent
  border: 1px solid $default-gold
  color: $default-gold

.custom-snackbar
  font-family: 'Work Sans', sans-serif !important

  button
    color: $default-gold !important

.mat-button.mat-button-disabled.mat-button-disabled
  color: #666 !important

.dialog
  padding: 24px
  height: 100%

.mat-dialog-container
  padding: 0 !important

@media screen and (max-width: 570px)
  .desktop
    display: none

  .mobile
    display: block
  mat-tab-group
    display: inline-grid
