<div class="component-content">
  <div
    class="text-right">
    <div class="inline">
      <div class="column left">
        <a>
          <h2><i class="fa fa-angle-left" aria-hidden="true"></i></h2>
        </a>
      </div>
      <div style="width: 100%;padding-top: 1em">
        <h2>{{startDate.date() + '-' + endDate.date() + '/' + (endDate.month() + 1) + '/' + endDate.year()}}</h2>
      </div>
      <div  class="column right">
        <a>
          <h2><i class="fa fa-angle-right" aria-hidden="true"></i></h2>
        </a>
      </div>
    </div>
  </div>
</div>
