<div class="component-content">
  <div class="text-right">
    <div class="inline">
      <div class="column left" (click)="previousWeek()">
        <h3><i class="fa fa-angle-left" aria-hidden="true"></i></h3>
      </div>
      <div style="width: 100%;padding-top: .25em">
        <h3><b>{{startDate.date() + '-' + endDate.date() + ' ' + endDate.format('MMMM') + ', ' + endDate.year()}}</b>
        </h3>
      </div>
      <div class="column right" (click)="nextWeek()">
        <h3><i class="fa fa-angle-right" aria-hidden="true"></i></h3>
      </div>
    </div>
  </div>
  <div>

    <div class="row header-row">
      <div class="col-sm">
        <h3><b>Zaposleni</b></h3>
      </div>
      <div class="col-sm date-header" *ngFor="let date of daysInWeek">
        <h4> {{ date.day(date.day).format('dddd') + ' ' + date.date()}}</h4>
      </div>
    </div>
    <div class="row" *ngFor="let scheduled of listOfScheduled">
      <div class="col-sm white-col">
        <h3>{{scheduled.person?.firstName + ' ' + scheduled.person?.lastName}}</h3>
      </div>
      <div class="col-sm white-col" (click)="openAddShiftDialog(scheduled,date.format('DD MMMM YYYY'))" *ngFor="let date of daysInWeek">
        <h2></h2>
      </div>
    </div>
  </div>
</div>
