@import "src/styles"


h1
  font-weight: bold

.left-col
  border-right: 1px solid rgba(0, 0, 0, 0.12)
  height: 100%

.form-col
  padding: 5em

.wrapper
  border-bottom: 1px solid rgba(0, 0, 0, 0.12)
  margin: 0 !important

.input-col-left
  padding-left: 0


.input-col-right
  padding-right: 0

.default-btn
  width: 10%

.btn-div
  padding: 2em

.time-picker-component .mat-form-field-infix
  display: inherit

mat-form-field
  width: 100%

.border-col
  border-left: 2px solid $default-gold


.inline
  width: 100%

  .column
    width: 50%

  .left
    margin-right: 1em

  .right
    margin-left: 1em

.tab
  padding-top: 2em

mat-spinner
  padding: 2em
  display: none
