@import "src/styles"


h1
  font-weight: bold

.left-col
  border-right: 1px solid rgba(0, 0, 0, 0.12)
  height: 100%

.form-col
  padding: 5em

.wrapper
  border-bottom: 1px solid rgba(0, 0, 0, 0.12)
  margin: 0 !important

.input-col-left
  padding-left: 0


.input-col-right
  padding-right: 0

.default-btn
  width: 10%

.btn-div
  padding: 2em
