<div class="text-right">
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<h1 class="text-center">Novi klijent</h1>
<mat-divider></mat-divider>
<div class="wrapper">
  <div class="row">
    <div class="col left-col form-col text-right">
      <div class="row">
        <div class="col-sm input-col-left">
          <app-form-input label="Ime" [config]="firstNameInputConfig" [group]="clientForm"></app-form-input>
        </div>
        <div class="col-sm input-col-right">
          <app-form-input label="Prezime" [config]="firstNameInputConfig" [group]="clientForm"></app-form-input>
        </div>
      </div>
      <div class="inline">
        <div class="left column">
          <div class="inline">
            <mat-form-field appearance="outline" style="width: 25%;">
              <mat-label>Pozivni broj</mat-label>
              <mat-select>
                <mat-option [value]="country" *ngFor="let country of listOfCountries">
                  {{country.dialCode + ' | ' + country.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 75%;">
              <mat-label>Kontakt telefon</mat-label>
              <input matInput type="text" placeholder="69 021 1312">
            </mat-form-field>
          </div>
        </div>
        <div class="right column">
          <div class="inline">
            <mat-form-field appearance="outline" style="width: 25%;">
              <mat-label>Pozivni broj</mat-label>
              <mat-select>
                <mat-option [value]="country" *ngFor="let country of listOfCountries">
                  {{country.dialCode + ' | ' + country.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 75%;">
              <mat-label>Kontakt telefon</mat-label>
              <input matInput type="text" placeholder="69 021 1312">
            </mat-form-field>
          </div>
        </div>
      </div>
      <app-form-input label="Email" icon="alternate_email" [config]="firstNameInputConfig"
                      [group]="clientForm"></app-form-input>
      <app-form-input [config]="firstNameInputConfig" [group]="clientForm"></app-form-input>
      <app-form-select [config]="notificationMethodSelectConfig" [group]="clientForm" label="Način slanja notifikacija"
                       bindValue="name"></app-form-select>
      <app-form-select [config]="languageSelectConfig" [group]="clientForm" label="Jezik"
                       bindValue="name"></app-form-select>
      <div class="text-left">
        <mat-checkbox>Marketing notifikacije</mat-checkbox>
      </div>
    </div>
    <div class="col form-col">
      <mat-tab-group>
        <mat-tab label="Lične informacije">
          <div class="tab">
            <div class="inline">
              <div class="column left">
                <app-form-select label="Pol" bindValue="name" [group]="clientForm"
                                 [config]="genderSelectConfig"></app-form-select>
              </div>
              <div class="column right">
                <app-form-select label="Način dolaska" bindValue="value" [group]="clientForm"
                                 [config]="referralSourceSelectConfig"></app-form-select>
              </div>
            </div>
            <div [formGroup]="clientForm">
              <mat-form-field appearance="outline">
                <mat-label>Datum rođenja</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="birthday">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

            </div>
            <app-form-input [group]="clientForm" [config]="notesInputConfig" label="Beleška"></app-form-input>
          </div>
        </mat-tab>
        <mat-tab label="Adresa">
          <div class="tab">
            <div class="inline">
              <div class="column left">
                <app-form-input [config]="streetInputConfig" label="Ulica" [group]="addressForm"></app-form-input>
              </div>
              <div class="column right">
                <app-form-input [config]="streetNoInputConfig" label="Broj" [group]="addressForm"></app-form-input>
              </div>
            </div>
            <app-form-select label="Grad" bindValue="name" [config]="citySelectConfig"
                             [group]="addressForm"></app-form-select>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
<div class="text-right btn-div">
  <button mat-button class="default-btn">Dodaj</button>
</div>

