<mat-accordion>
  <mat-expansion-panel style="margin-top: 2em;" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon color="primary">calendar_today</mat-icon>
        <mat-icon>filter_alt</mat-icon>
        <h4>Filtriranje po datumu i godini</h4>
      </mat-panel-title>
      <mat-panel-description>
        Nakon klika otvoriće se forma za filtriranje po datumu i/ili godini
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="row" style="margin-top: 2em;">
      <div class="col-sm-6"></div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-6">
            <app-form-select [group]="searchForm" [config]="monthsSelectConfig"></app-form-select>
          </div>
          <div class="col-6" style="padding-right: 0;">
            <app-form-select [group]="searchForm" [config]="yearSelectConfig"></app-form-select>
          </div>
        </div>
        <div class="text-right">
          <button mat-button class="default-btn" (click)="filter()" style="margin: 0">Filtiraj</button>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<div class="row">
  <div class="col-12">
    <form [formGroup]="searchForm">
      <mat-form-field appearance="outline">
        <mat-label>Pretraži</mat-label>
        <input matInput formControlName="search" [(ngModel)]="searchText">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </form>
  </div>
</div>
<div class="staff-binding">
  <div class="staff-card text-left" *ngFor="let staffPayoutDto of listOfStaffs|staffPayout:searchText">
    <div class="row">
      <div class="col-2 text-center">
        <div [ngStyle]="{'background-color':staffPayoutDto.staff.color}" class="first-letter-circle">
        </div>
      </div>
      <div class="col">
        <h2>{{staffPayoutDto.staff.person.firstName + ' ' + staffPayoutDto.staff.person.lastName}}</h2>
      </div>
      <div class="col text-center">
        <h2>{{staffPayoutDto.staff.person | staffEmail}}</h2>
      </div>
      <div class="col text-right">
        <h2>{{staffPayoutDto.total + ' RSD'}}</h2>
      </div>
      <div class="col-3 text-center">
        <button class="default-btn" mat-button style="margin: 1em">Payouts</button>
      </div>
    </div>
  </div>
</div>
<mat-spinner #spinner diameter="50"></mat-spinner>
